@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
  /* ### Primary middle card */

  --Linear-Gradient1: hsl(236, 72%, 79%);
  --Linear-Gradient2: hsl(237, 63%, 64%);

  /* ### Neutral */

  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  font-size: 15px;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body,
#root {
  min-height: 100vh;
  min-height: 100dvh;
 
  display: flex;
  align-items: center;
  flex-direction: column;

}

#root {
  width: 100%;
}

body {

  background: url("/images/bg-top.svg"), url("/images/bg-bottom.svg"),var(--Very-Light-Grayish-Blue);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}